# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.tlog
*.vsidx
*.ipch
*.db
LabProject07-9-8/.vs/LabProject07-9-8/v17/.suo
LabProject07-9-8/.vs/LabProject07-9-8/FileContentIndex/read.lock

*.exe.recipe
*.ilk
*.log
*.pdb
*.idb
*.res
*.vcxproj.user
*.vs
x64/
LabProject07-9-8/x64/
LabProject07-9-8/x64/Debug/LabProject07-9-8.exe.recipe
LabProject07-9-8/x64/Debug/LabProject07-9-8.ilk
LabProject07-9-8/x64/Debug/LabProject07-9-8.log
LabProject07-9-8/x64/Debug/LabProject07-9-8.pdb
LabProject07-9-8/x64/Debug/LabProject07-9-8.vcxproj.FileListAbsolute.txt
LabProject07-9-8/x64/Debug/vc143.idb
LabProject07-9-8/x64/Debug/vc143.pdb
